.body 
{
    background-color: pink;
}


.row {
display: flex;
}


.column {
flex: 1%;
padding: 1px;
font-size: 20;
}
.line 
{
  border-top: 10px solid black;
  margin-top: 10px;
}
.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}
img{
    transition: transform .1s;
    width:50px;
    height:50px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
img:hover{
    transform:scale(1.2);
}
