* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "nav "
                         "section ";
    grid-template-columns: 100%;
    grid-template-rows:  10% 250% ;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

nav {
    background-color: rgb(0, 68, 255);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}   


section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigate {
    display: flex;
    text-decoration: none;
    height: 10vh;
    align-items: center;
}

.navbtn {
    color: #ffff;
    margin: 0 5rem 0 5rem;
    text-decoration: none;
    font-size: 1.5rem;
    transition: transform 0.5s ease;
    transform: scale(1);
}

.container {
    display: flex;
    background-color: rgb(228, 234, 240);
    border-radius: 1rem;
}

#about {
    margin-top: 5%;
    width: 70vw;
    height: 60vh;
    margin-bottom: 20%;
    display: flex;
    overflow: hidden;
}

#img {
    width: 30%;
    height: 100%;
    background-color: antiquewhite;

}

#my-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
#article {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
}
  
  
#detail {
    width: 70vw;
    height: 60vh;
    margin-bottom: 20%;
}

#schoolweb {
    width: 70vw;
    height: 10vh;
}

.navbtn:hover {
    transition: transform 0.5s ease;
    transform:scale(1.25);
}

#detail-header, #schoolweb-header {
    margin-bottom: 5rem;
}

#about-header {
    margin-top: 5rem;
}

